body {
    background-color: hsl(212, 63%, 84%);
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}

.conteiner{
    display: flex;
    margin: 0 auto;
    height: 100dvh;
    width: min-content;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: min-content;
    height: max-content;
    margin: auto auto;
    padding: 2dvh;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.image {
    background-image: url(images/image-qr-code.png);
    background-size: contain;
    border-radius: 8%;
    width: 80dvw;
    height:80dvh;
    margin: 0 auto;
    margin-top: 2dvh;
     max-width: 200px;
     max-height: 200px;
     min-width: 150px;
     min-height: 150px 
}

.texto {
    padding: 1%;
    margin: 2%;
}

.texto p {
    margin: 0 auto;
    width: 90%;
    color: rgb(110, 110, 110);
    font-size:small;
}
.texto h2 {
    font-size: 20px;
    margin: 1dvh auto;;
    width: 90%;
}
